# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Virtual Environment
venv/
.env
*.venv

# Ignore Google Cloud service account credentials
your-service-account.json

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
logs/
*.log
*.tmp
.DS_Store

# Ignore system-specific files
Thumbs.db
desktop.ini

# Ignore IDE-specific files
.vscode/
.idea/
*.swp

*.pbtxt
*.ckpt
*.pb
*.tfrecord
models/research/inference_graph/
models/research/exported-models/
